.cursor {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  transition-property: width, height, border;
  mix-blend-mode: difference;
  background-color: #fff;
  &.hovered {
    width: 50px;
    height: 50px;
    border-width: 3px;
  }
  &.clicked {
    width: 70px;
    height: 70px;
    border-width: 4px;
  }

  &.profile {
    width: 100px;
    height: 100px;
    border-width: 5px;
  }
  &.hovered-image {
    width: 330px;
    height: 330px;
    border-width: 5px;
    mix-blend-mode: normal;
  }
}
