.skills{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 24px;
    z-index: -1;
}

.skill {
    padding: 12px;
    overflow: hidden;
    opacity: 0.5;
    img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}