@font-face {
  font-family: '';
  src: url('../../../assets/fonts/HelveticaWorld-Bold.ttf'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'HelveticaWorld-Bold';
  src: url('../../../assets/fonts/HelveticaWorld-Bold.ttf'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'HelveticaWorld-BoldItalic';
  src: url('../../../assets/fonts/HelveticaWorld-BoldItalic.ttf'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'Hanuman-Bold';
  src: url('../../../assets/fonts/Hanuman-Bold.ttf');
}
@font-face {
  font-family: 'Hanuman-Regular';
  src: url('../../../assets/fonts/Hanuman-Regular.ttf');
}